body{
    background-color: hsl(235, 21%, 11%);
    margin: 0;
    padding: 0;
}
#img_desktop{
    display: none;
}
#img_mobile{
    width: 100%;
    height: 37%;
    position: absolute;
    z-index: -1;
}
#todo{
    z-index: 1;
    font-family: 'Josefin Sans', sans-serif;
    color: hsl(236, 33%, 92%);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 14px;
    padding-left: 6%;
    padding-top: 12%;
    padding-bottom: 0%;
}
#root{
    padding-left: 6%;
    padding-top: 8%;
    padding-bottom: 0%;
}
@media only screen and (min-width: 836px) {
    #img_mobile{
        display: none;
    }
    #img_desktop{
        display: inline;
        width: 100%;
        height: 37%;
        position: absolute;
        z-index: -1;
    }
    #todo{
        font-size: 35px;
        padding-left: 31.5%;
        padding-top: 4.3%;
        padding-bottom: 0%;
    }
    #root{
        padding-left: 31.5%;
        padding-top: 2%;
        padding-bottom: 0%;
    }
}