#entry{
    border: none;
    border-radius: 5px;
    background-color: hsl(235, 24%, 19%);
    width: 93%; min-height: 55px;
}
#entrytxt{
    display: inline-block;
    margin-left: 3px;
    margin-top: 15px;
    border: none; border-radius: 5px; outline: none;
    height: 15px; width: 70%;
    resize: none;
    padding: 1.5%;
    overflow: hidden;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: transparent;
    color: hsl(234, 39%, 85%);
    vertical-align: top;
}
.outercircle{
    display: inline-block;
    width: 20px; height: 20px;
    border: solid 1px hsl(237, 14%, 26%);
    border-radius: 50%;
    background-color: transparent;
    margin-left: 18px; margin-top: 16px; margin-right: 10px;
}
.innercircle{
    display: none;
    width: 18px; height: 18px; margin-left: 1px; margin-top: 1px;
    border: none;
    border-radius: 50%;
    background-color: hsl(235, 24%, 19%);
}
.outercircle:hover{
    background-image: linear-gradient(to bottom right,hsl(192, 100%, 67%),hsl(280, 87%, 65%));
    cursor: pointer;
}
.outercircle:hover .innercircle{
    display: inline-block;
}
.ticksvg{
    opacity: 0;
    margin-left: 4px;
    margin-bottom: 1px;
}
.outercircle:hover .ticksvg{
    opacity: 1;
}
#header{
    border: none;
    border-top-left-radius: 5px; border-top-right-radius: 5px;
    background-color: hsl(235, 24%, 19%);
    color: hsl(233, 14%, 35%);
    width: 93%; height: 50px;
    position: relative;
    top: 20px;
    margin-bottom: 20px;
}
@media only screen and (max-width: 835px) {
    #header{
        height: 80px;
    }
    #subheader{
        width: 100%; height: 40%;
        margin: 0px 0px 0px 0px;
        display: flex;
        align-items: center; justify-content: space-between;
    }
    #subheader :nth-child(1){
        margin-left: 30px;
    }
    #subheader :nth-last-child(1){
        margin-right: 30px;
    }
    #subheader :nth-child(n+1){
        margin-top: 15px;
    }
}
#subheader :nth-child(n+1),#clearComp{
    background: none;
    border: none;
    color: hsl(233, 14%, 35%);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}
#itemsleft{
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px; font-weight: 500;
}
#clearComp{
    float: right;
    position: relative; right: 20px; top: 20px;
    font-weight: 500;
}
#subheader :nth-child(n+1):hover,#header :nth-child(2):hover {
    color: hsl(220, 98%, 61%);
}
#subheader :nth-child(n+1):focus {
    color: hsl(220, 98%, 61%);
}
.taskbar{
    border-top: solid 1px hsl(233, 14%, 35%);
    background-color: hsl(235, 24%, 21%);
    width: 93%; min-height: 50px;
    color: hsl(234, 39%, 85%);
}
.activtaskcontent,.comptaskcontent{
    display: inline-block;
    width: 75%;
    vertical-align: top; margin-top: 22px; margin-bottom: 10px;
    position: relative; bottom: 6px; left: 12px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px; font-weight: 500;
}
.comptaskcontent{
    text-decoration: line-through;
    color: hsl(233, 14%, 35%);
}
.activtaskcontent:hover{
    cursor: pointer;
    color: hsl(236, 33%, 92%);
}
.tickedbubble{
    display: inline-block;
    width: 20px; height: 20px;
    border: solid 1px hsl(237, 14%, 26%);
    border-radius: 50%;
    background-color: transparent;
    margin-left: 18px; margin-top: 13px; margin-right: 10px;
    background-image: linear-gradient(to bottom right,hsl(192, 100%, 67%),hsl(280, 87%, 65%));
}
@media only screen and (min-width: 836px) {    
    #entry{
        width: 54.5%;
    }
    #entrytxt{
        margin-top: 13px;
        height: 15px;
    }
    #header{
        width: 54.5%;
    }
    #subheader{
        display: inline-block;
    }
    #itemsleft{
        margin-right: 10%;
    }
    .taskbar{
        width: 54.5%;
    }
    .activtaskcontent,.comptaskcontent{
        width: 85%;
    }
}